@model Vidly.ViewModels.UserDetailViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.UserName's Profile</h2>

@using (Html.BeginForm("Edit", "User"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.TextBoxFor(m => m.GenreId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.ProfileImageUrl)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
